html{
	font-size: 62.5%;/** Reset para rems -62.5% = 10px de 16px**/
	box-sizing: border-box;
}*, *:before, *:after {
  box-sizing: inherit;
}

/**										BODY 								**/
body{
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	line-height: 2;

}
/**										GLOBALES							**/
img{
	max-width: 100%;
}
.contenedor{
	max-width: 120rem;/** = 1200px**/
    margin: 0 auto;
}

h1{
	font-size: 3.5rem;
}
h2{
	font-size: 3.1rem;
}
h3{
	font-size: 2.7rem;
}
h4{
	font-size: 2.3rem;
}
/**										UTILIDADES							**/
.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.fw-300{
	font-weight: 300;
}
.centrar-texto{
	
	text-align: center;
}

.contenido-header{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contenido-header h1{
	color: white;
	padding-bottom: 1.7rem;
	max-width: 60rem;
	line-height: 2;
}
.d-block{
	display: block!important;
}

/**										BOTONES								**/
.boton{
	text-decoration: none;
	color:white;
	font-weight: 700;
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-top: 3rem;
	display:inline-block;
	text-align: center;
}
.boton-amarillo{
	background-color: #e08709;
}
.boton-verde{
	background-color: #71b100;
}

/**										HEADER								**/
.site-header.inicio{
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.barra{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3rem;
}
/**										NAVEGACION							**/
.navegacion a{
	color: white;
	text-decoration: none;
	font-size: 1.3rem; /** =18px**/
	margin-right: 2rem;
	font-family: '8BITWONDERNominal';
}
.navegacion a:last-of-type{
	margin: 0;
}
.navegacion a:hover{
	color: #71b100
}
/**										Iconos Nosotros						**/
.iconos-nosotros{
	display: flex;
	justify-content: space-between;
	text-align:center;

}
.icono{
	flex-basis: calc(33.3% - 1rem);
}
.icono h3{
	text-transform: uppercase;
}
/**										ANUNCIOS							**/
.contenedor-anuncio{
	display: flex;
	justify-content: space-between;
}
.anuncio{
	flex-basis: calc(33.3% - 1rem);
	border: 1px solid #b5b5b5;
	background-color: #f5f5f5;
}
.contenido-anuncio{
	padding: 1.5rem;
}
.contenido-anuncio h3,
.contenido-anuncio p{
	margin: 0;
}
.contenido-anuncio h3{
	font-size: 2.6rem;
}
.precio{
	color: #71b100;
	font-weight: 700;

}
.ver-todas{
	display:flex;
	justify-content: flex-end;
}